# Docker PostgreSQL Configuration
POSTGRES_CONTAINER_NAME=company-webapp
POSTGRES_DB=company-webapp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_HOST_AUTH_METHOD=trust 